@forward '../../setting/animation';
@use '../../setting/variables' as v;
@use '../../mixin/mixin' as m;

.bl_waveCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 50px 0;
}