@forward "../setting/animation";
@use "../setting/variables" as v;
@use "../mixin/mixin" as m;


/*	ベース	*/
body {
  text-size-adjust: 100%;
  font-size: 1rem;
  font-family: v.$f_noto;
  line-height: 1.85;
  word-break: break-word;
  background: v.$white;
  color: v.$black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: v.$first;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}


/*	フォント関連	*/
.bl_header,
h1,
h2, 
.heading01,
.count_size {
  font-family: v.$f_roboto;
}


/*	heading	*/



/*	レイアウト関連	*/
.ly_wrapper {
  position: relative;
  z-index: 1;
}

.ly_cont {
  padding-right: 70px;
  padding-left: 130px;
}

@include m.mq(lg) {
  .ly_cont {
    padding: 0 30px;
  }
}

body.appear .ly_cont {
  opacity: 0;
}