//変数

//ブレイクポイント
$breakpoints: (
  'xxs': 'screen and (max-width: 360px)',
  'xs': 'screen and (max-width: 550px)',
  'sm': 'screen and (max-width: 768px)',
  'md': 'screen and (max-width: 870px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1020px)',
) !default;

// 画像ディレクトリ
$imgDir: '../../src/img/';

// サイトカラー
$first:  #31B7B8;
$second: #059ac5;
$third:  #0576c5;
$fourth: #0556c5;

$white: #f0f0f0;
$black: #333333;
$gray:  #666666;

$first08: #31b7b8cc;
$black03: rgba(0, 0, 0, 0.3);


// トランジション fast > normal > lazy
$transition_f: all .25s;
$transition_n: all .50s;
$transition_l: all 1s;

// フォント関連
$f_noto: 'Noto Sans JP', sans-serif;
$f_roboto: 'Roboto', sans-serif;

